*.pyc
sim_venv/
test_venv/
sim_venv
test_venv
*.pyc
*.pkl
*.png
*/__pycache__/
/experiment/result/
**/result/
**/figs/
**/test_figures/
**/tests/calibration/sim_domain_segment_calibration/data
tests/calibration/num_molecules_and_time_step_calibration/figs/
**/tests/validation/wide_pulse
**/docs/5_gradient_simulation.md